.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 150px;
}

.nav-items ul {
  font-size: 24px;
  display: flex;
  list-style: none;
}
.nav-items ul li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  /* height: 300px; */
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid rgb(221, 210, 7);
}

.res-logo {
  width: 180px;
  height: 100px;
  padding: 10px 10px 0 10px;
}

.Footer {
  border: 1px solid black;
}
.login {
  padding: 0 20px;
  cursor: pointer;
  margin: 10;
}

.filter {
  display: flex;
  padding: 10px;
}

.filter-btn {
  margin: 10px;
}

.search {
  margin: 10px;
}
